[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
covenant = "DsuUvdDe5S6Rnzg9NrBJRAZcrP83FvyGycyi2oVbzcec"

[programs.devnet]
covenant = "DsuUvdDe5S6Rnzg9NrBJRAZcrP83FvyGycyi2oVbzcec"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
build = "cargo-build-sbf --tools-version v1.51"
